<!doctype html>
<title>Daniel Logan's Milestone Project</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
    <h1>Error</h1>
    <div class=metanav>
    
        <h4>
            Something has gone wrong with Quandl. The symbol you entered, {{sym}},  was most likely
            not found in the dataset. Please return to the previous page and try again.
        </h4>
        <h4>
            <a href="/">Back</a>
         </h4>
     </div>
</div>